{% extends "base.html" %}
{% block content %}
<h2>Reports</h2>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h5>Total Budgets</h5>
                <h2>{{ total_budgets }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Approved Amount</h5>
                <h2>${{ total_approved_amount }}</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}